<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by PTV (PTV AG) -->
<configuration xmlns:xs="http://www.w3.org/2001/XMLSchema-instance" xs:schemaLocation="file:// vissig_config.xsd">
	<common frequency="1"/>
	<!---->
	<!---->
	<!-- Signalsequence ids 1..100 are reserved for PTV.                 -->
	<!-- Customer defined signalsequences must have ids greater than 100 -->
	<!---->
	<!---->
	<signalsequences>
		<signalsequence id="1" name="Permanent Red">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="0"/>
		</signalsequence>
		<signalsequence id="2" name="Permanent Green">
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="0"/>
		</signalsequence>
		<signalsequence id="3" name="Red-Red/Amber-Green-Amber">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="2" isFixedDuration="true" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
			<state display="4" isFixedDuration="true" isClosed="true" defaultDuration="3000"/>
		</signalsequence>
		<signalsequence id="4" name="Red-Green">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
		</signalsequence>
		<signalsequence id="5" name="Red-Red/Amber-Green-Flashing Green-Amber">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="2" isFixedDuration="true" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
			<state display="5" isFixedDuration="true" isClosed="false" defaultDuration="4000"/>
			<state display="4" isFixedDuration="true" isClosed="true" defaultDuration="3000"/>
		</signalsequence>
		<signalsequence id="6" name="Red-Green-Flashing Green">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
			<state display="5" isFixedDuration="true" isClosed="false" defaultDuration="4000"/>
		</signalsequence>
		<signalsequence id="7" name="Red-Green-Amber">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
			<state display="4" isFixedDuration="true" isClosed="true" defaultDuration="3000"/>
		</signalsequence>
		<signalsequence id="8" name="Off (Flashing Amber)">
			<state display="6" isFixedDuration="false" isClosed="true" defaultDuration="0"/>
		</signalsequence>
		<signalsequence id="9" name="Off (Off)">
			<state display="7" isFixedDuration="false" isClosed="true" defaultDuration="0"/>
		</signalsequence>
		<signalsequence id="10" name="Red-Off">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="7" isFixedDuration="false" isClosed="false" defaultDuration="1000"/>
		</signalsequence>
		<signalsequence id="11" name="Red-Off-Amber">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="7" isFixedDuration="false" isClosed="false" defaultDuration="1000"/>
			<state display="4" isFixedDuration="true" isClosed="true" defaultDuration="3000"/>
		</signalsequence>
		<signalsequence id="12" name="Off-Green">
			<state display="7" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
		</signalsequence>
		<signalsequence id="13" name="Flashing Amber-Off">
			<state display="6" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="7" isFixedDuration="false" isClosed="false" defaultDuration="1000"/>
		</signalsequence>
		<signalsequence id="14" name="Red-Green-Flashing Red">
			<state display="1" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="3" isFixedDuration="false" isClosed="false" defaultDuration="5000"/>
			<state display="8" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
		</signalsequence>
		<signalsequence id="15" name="Flashing Red-Off">
			<state display="8" isFixedDuration="false" isClosed="true" defaultDuration="1000"/>
			<state display="7" isFixedDuration="false" isClosed="false" defaultDuration="1000"/>
		</signalsequence>
	</signalsequences>
	<!---->
	<!---->
	<!-- Signaldisplay ids 1..100 are reserved for PTV.                 -->
	<!-- Customer defined signaldisplays must have ids greater than 100 -->
	<!---->
	<!---->
	<signaldisplays>
		<display id="1" name="Red" state="RED">
			<patterns>
				<pattern pattern="MINUS" color="#FF0000" isBold="true"/>
			</patterns>
		</display>
		<display id="2" name="Red/Amber" state="REDAMBER">
			<patterns>
				<pattern pattern="FRAME" color="#CCCC00" isBold="true"/>
				<pattern pattern="SLASH" color="#CC0000" isBold="false"/>
				<pattern pattern="MINUS" color="#CC0000" isBold="false"/>
			</patterns>
		</display>
		<display id="3" name="Green" state="GREEN">
			<patterns>
				<pattern pattern="FRAME" color="#00CC00" isBold="true"/>
				<pattern pattern="SOLID" color="#00CC00" isBold="false"/>
			</patterns>
		</display>
		<display id="4" name="Amber" state="AMBER">
			<patterns>
				<pattern pattern="FRAME" color="#CCCC00" isBold="true"/>
				<pattern pattern="SLASH" color="#CCCC00" isBold="false"/>
			</patterns>
		</display>
		<display id="5" name="Flashing Green" state="FLASHING_GREEN">
			<patterns>
				<pattern pattern="FRAME" color="#00CC00" isBold="true"/>
				<pattern pattern="SECONDS" color="#00CC00" isBold="true"/>
			</patterns>
		</display>
		<display id="6" name="Flashing Amber" state="FLASHING_AMBER">
			<patterns>
				<pattern pattern="FRAME" color="#CCCC00" isBold="true"/>
				<pattern pattern="FLASHING" color="#CCCC00" isBold="true"/>
			</patterns>
		</display>
		<display id="7" name="Off" state="OFF">
			<patterns>
				<pattern pattern="MINUS" color="#000000" isBold="true"/>
			</patterns>
		</display>
		<display id="8" name="Flashing Red" state="FLASHING_RED">
			<patterns>
				<pattern pattern="FRAME" color="#FF0000" isBold="true"/>
				<pattern pattern="SECONDS" color="#FF0000" isBold="true"/>
			</patterns>
		</display>
	</signaldisplays>
</configuration>
